//
   Created by asistent on 18.05.2016.

doctype html
html(lang="en")
    head
        meta(charset='utf8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title LogIn
        link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap-theme.min.css")
        <!--[if lt IE 9]>
        script(src="/html5shiv/dist/html5shiv.min.js")
        script(src="/respond/dest/respond.min.js")
        <![endif]-->
        style.
            .container {
                margin-top: 10px;
            }

            input {
                margin: 0 10px;
            }

            div.alert {
                margin-top: 10px;
            }
body
    div.container
        div.row
            div.col-md-6.login
                h2.login Вход на сайт
                form(action="/user/login", method="post" class="login")
                    div.form-group
                        label(for="InputName1") Логин
                        input.form-control(type="text", id="InputName1", name="username")
                    div.form-group
                        label(for="InputEmail1") Пароль
                        input.form-control(type="password", id="InputEmail1", name="password")
                    button.btn.btn-primary(type="submit") Отправить
                -
                if status === 'error'
                    span.error(data-msg="#{msg}")
            div.col-md-6.register
                h2.register Регистрация нового пользователя
                form(action="/user/register", method="post", class="register")
                    div.form-group
                        label(for="InputName2") Логин
                        input.form-control(type="text", id="InputName2", name="username")
                    div.form-group
                        label(for="InputEmail2") Пароль
                        input.form-control(type="password", id="InputEmail2", name="password")
                    button.btn.btn-primary(type="submit") Отправить
    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script.
        function alertError(msg, color) {
            $('form.register').after('<div class="alert alert-' + color + '"><b>' + msg + '</div>');
            setTimeout(function () {
                $('div.alert').fadeOut('fast')
            }, 3000);
        };

        $(document).ready(function () {
            var span = $('div.login').find('span.error');
            if (span.length > 0) {
                var msg = span.data('msg');
                $(span).replaceWith('<div class="alert alert-danger"><b>' + msg + '</div>');
                setTimeout(function () {
                    $('div.alert').fadeOut('fast')
                }, 3000);
            }



            var form = $('form.register')
            form.submit(function (e) {
                e.preventDefault();
                var username = form.find('input[name = "username"]').val();
                var password = form.find('input[name = "password"]').val();
                $.post('/user/register', {
                    username: username,
                    password: password
                }, function (data) {
                    if (data.status === 'error') {
                        alertError(data.msg, 'danger');
                    }
                    if (data.status === 'success') {
                        alertError(data.msg, 'success');
                    }
                })
            })
        })
